body{
    background: gray;
}

.cars{
    color: white;
    position: sticky;
    top: 0;
    border-radius: 10px;
}

.car{
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    width: 32.03%;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.car:hover{
    background: blue;
    color: white;
    cursor: pointer;
}

#merc{
    position: absolute;
    border-radius: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: green;
    top: 41px;
    width: 100%;
    left: 0px;
    display: none;
}

.merc:hover #merc{
    display: block;
}

#merc li:hover {
    background-color: cornflowerblue;
}

.a-class{
    position: relative;
}

#a-class{
    border-radius: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background: red;
    left: 100%;
    top: 0px;
    color: white;
    display: none;
}

.a-class:hover #a-class{
    display: block;
}



.w177{
    position: relative;
}

#w177{
    position: absolute;
    width: 100%;
    left: 100%;
    display: none;
    top: 0px;
}

.w177:hover #w177{
    display: block;
}

#bmw{
    position: absolute;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: darkgoldenrod;
    width: 100%;
    top: 40px;
    left: 0px;
    color: white;
    display: none;
}

.bmw:hover #bmw{
    display: block;
}

#bmw li:hover{
    background-color: aqua;
}

.III-series{
    position: relative;
}

#III-series{
    position: absolute;
    border-radius: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: darkcyan;
    width: 100%;
    left: 100%;
    top: 0px;
    display: none;
}

.III-series:hover #III-series{
    display: block;
}

.e-39{
    position: relative;
}

#e-39{
    position: absolute;
    width: 100%;
    right: 0px;
    top: 80px;
    display: none;
}

.e-39:hover #e-39{
    display: block;
}

#audi{
    position: absolute;
    border-radius: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: darkslateblue;
    width: 100%;
    left: 0px;
    top: 40px;
    display: none;
    color: white;
}

.audi:hover #audi{
    display: block;
}

.audi-a8{
    position: relative;
}

#audi-a8{
    position: absolute;
    border-radius: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: firebrick;
    width: 100%;
    right: 100%;
    top: 0px;
    display: none;
}

.audi-a8:hover #audi-a8{
    display: block;
}

#audi li:hover{
    background-color: darkorange;
}

.d5{
    position: relative;
}

#d5{
    position: absolute;
    width: 100%;
    top: 0px;
    right: 100%;
    display: none;
}

.d5:hover #d5{
    display: block;
}


