
body{
    color: white;
    background: #070632;
background: linear-gradient(90deg,#070632 0%, #231958 40%, #3c0e5d 80%);
background: -webkit-linear-gradient(90deg,#070632 0%, #231958 40%, #3c0e5d 80%);
background: -moz-linear-gradient(90deg,#070632 0%, #231958 40%, #3c0e5d 80%);
    background-attachment: fixed
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

header {
     display: flex;
    flex-direction: column;
    align-items: center;
    
}
header .ava {
    
}
header img {
    width: 300px;
    height: 300px;
}
header .menu {
    
    width: 500px;
    display: flex;
    flex-direction: column
}
header .icons {
   
}
header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}
header li {
}

.html::first-letter{
    color: #ee3717;
    font-size: 30px;
}

.css::first-letter{
    color: #114fbb;
    font-size: 30px;
}

.js::first-letter{
    color: #e6df0f;
    font-size: 30px;
}

p{
    margin: 0px;
    padding: 0px;
}

.names {
    color: white;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;
}
header .html {
    font-family: 'Bruno Ace', cursive;
    padding-right: 20px;
}
header .css {
    
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    padding-right: 45px;
}
header .js {
    font-family: 'Archivo Narrow', sans-serif;
    padding-right: 10px;
}

section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 5px 4px 7px rgba(0,0,0,0.78);
    box-shadow: 0px 1px 95px 31px rgba(222,210,210,0.31);
-webkit-box-shadow: 0px 1px 95px 31px rgba(222,210,210,0.31);
-moz-box-shadow: 0px 1px 95px 31px rgba(222,210,210,0.31);
    padding: 20px;
    border: 3px solid;
    border-color: cornflowerblue;
    border-radius: 50px;
    background-color: cornflowerblue;
    margin-top: 65px;
    max-width: 700px;
}
section h1 {
    margin: 20px;
    font-size: 30px;
}

section p {
    font-size: 40px;
    text-indent: 50px;
    text-align: justify;
}