@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Mulish:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "Chakra Petch", sans-serif;
}

#service_btn {
  background-color: #d16527;
  border: 2px solid #d16527;
  position: relative;
  line-height: 1.3em;
  transition: all 0.5s linear;
  text-decoration: none;
  color: #e0ede0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
          clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  font-size: 18px;
  padding: 18px 39px 15px;
  overflow: hidden;
}
#service_btn::after {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.25) 0, hsla(0, 0%, 100%, 0.13) 77%, hsla(0, 0%, 100%, 0.5) 92%, #fff);
  content: "";
  height: 150%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -110%;
  transform: rotate(30deg);
  transition: all 0.5s linear;
  width: 400%;
}
#service_btn:hover {
  -webkit-clip-path: none;
          clip-path: none;
  background: transparent;
}
#service_btn:hover::after {
  top: 0;
  left: 0;
  opacity: 1;
}
#service_btn a {
  text-decoration: none;
  color: #e0ede0;
  z-index: 20;
}

.number {
  border: 2px solid #d16527;
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  margin-left: 50px;
}
.number:hover::after {
  width: 100%;
}
.number:hover::before {
  width: 100%;
}
.number::before {
  content: "";
  background: #d16527;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transition: all 0.3s linear;
  width: 0;
  z-index: -1;
}
.number::after {
  background: #d16527;
  content: "";
  height: 100%;
  position: absolute;
  right: 50%;
  top: 0;
  transition: all 0.3s linear;
  width: 0;
  z-index: -1;
}
@media screen and (max-width: 1020px) {
  .number {
    display: none;
  }
}

.header .container {
  position: relative;
}
.header .container::after {
  content: "PROMOTORS";
  position: absolute;
  top: 60px;
  left: 200px;
  font-size: 150px;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(209, 207, 207, 0.0784313725);
  -webkit-text-fill-color: transparent;
  z-index: -1;
}
@media screen and (max-width: 1196px) {
  .header .container::after {
    font-size: 120px;
    left: 150px;
  }
}
@media screen and (max-width: 988px) {
  .header .container::after {
    left: 50px;
    font-size: 100px;
  }
}
@media screen and (max-width: 732px) {
  .header .container::after {
    top: 90px;
    font-size: 80px;
  }
}
@media screen and (max-width: 560px) {
  .header .container::after {
    top: 90px;
    font-size: 50px;
  }
}
.header .container .col-xl-12 .container-fluid .navbar-brand img {
  width: 200px;
}
.header .container .col-xl-12 .container-fluid .navbar-nav.me-auto.mb-2.mb-lg-0 {
  width: 100%;
  justify-content: center;
}
.header .container .col-xl-12 ul {
  text-align: center;
}
.header .container .col-xl-12 ul li {
  margin-left: 40px;
}
.header .container .col-xl-12 ul li a {
  color: #e0ede0;
  font-weight: bold;
  position: relative;
}
.header .container .col-xl-12 ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5px;
  right: 50%;
  background-color: #d16527;
  transition: all 0.3s linear;
}
.header .container .col-xl-12 ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 50%;
  background-color: #d16527;
  transition: all 0.3s linear;
}
.header .container .col-xl-12 ul li a:hover::after {
  width: 50%;
}
.header .container .col-xl-12 ul li a:hover::before {
  width: 50%;
}
.header .container #text .col-xl-5 .header_first {
  padding-left: 3rem;
}
@media screen and (max-width: 988px) {
  .header .container #text .col-xl-5 .header_first {
    margin-top: 4rem;
  }
}
.header .container #text .col-xl-5 .header_first .header_title h1 {
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
  font-size: 70px;
  color: #e0ede0;
  line-height: 70px;
}
@media screen and (max-width: 1196px) {
  .header .container #text .col-xl-5 .header_first .header_title h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.header .container #text .col-xl-5 .header_first .header_text p {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: #e0ede0;
  font-weight: 500;
  padding-right: 2rem;
}
.header .container #text .col-xl-7 .header_img {
  position: relative;
}
.header .container #text .col-xl-7 .header_img:hover #left_l {
  display: block;
}
.header .container #text .col-xl-7 .header_img:hover #right_l {
  display: block;
}
.header .container #text .col-xl-7 .header_img #left_l,
.header .container #text .col-xl-7 .header_img #right_l {
  position: absolute;
  display: none;
}
.header .container #text .col-xl-7 .header_img #left_l {
  top: 5px;
  left: 0px;
}
.header .container #text .col-xl-7 .header_img #right_l {
  top: 5px;
  right: 0px;
}

#about {
  background-color: rgb(18, 18, 18);
}
#about .container .col-xl-3 {
  position: relative;
  padding: 0;
}
#about .container .col-xl-3 .about_title h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 60px;
  padding: 1rem 0;
  border-bottom: 2px solid #e0ede0;
  position: relative;
}
#about .container .col-xl-3 .about_title h1::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  height: 2px;
  width: 0;
  bottom: -2px;
  left: 50%;
  transition: all 0.3s linear;
}
#about .container .col-xl-3 .about_title h1::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  height: 2px;
  width: 0;
  right: 50%;
  bottom: -2px;
  transition: all 0.3s linear;
}
#about .container .col-xl-3 .about_title h1:hover::after {
  width: 50%;
}
#about .container .col-xl-3 .about_title h1:hover::before {
  width: 50%;
}
#about .container .col-xl-3 .about_text p {
  color: #e0ede0;
  font-family: "Mulish", sans-serif;
  padding: 1rem 2.5rem 0 0;
}

#service {
  padding: 7rem 2rem;
}
#service .row.justify-content-between .service_title h1 {
  color: #e0ede0;
  font-size: 42px;
  font-weight: bold;
}
#service .row.justify-content-between .col-xl-4 {
  padding-bottom: 2rem;
  padding-right: 30px;
}
#service .row.justify-content-between .col-xl-4:hover .service_icon::after {
  width: 50%;
}
#service .row.justify-content-between .col-xl-4:hover .service_icon::before {
  width: 50%;
}
#service .row.justify-content-between .col-xl-4:hover .service_icon img {
  filter: invert(43%) sepia(75%) saturate(506%) hue-rotate(339deg) brightness(94%) contrast(97%);
}
#service .row.justify-content-between .col-xl-4 .service_icon {
  border-top: 2px solid #1f1e1e;
  padding-top: 2rem;
  position: relative;
}
#service .row.justify-content-between .col-xl-4 .service_icon::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: #d16527;
  left: 50%;
  height: 2px;
  width: 0;
  transition: all 0.3s linear;
}
#service .row.justify-content-between .col-xl-4 .service_icon::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #d16527;
  right: 50%;
  height: 2px;
  width: 0;
  transition: all 0.3s linear;
}
#service .row.justify-content-between .col-xl-4 .service_icon img {
  transition: all 0.3s linear;
}
#service .row.justify-content-between .col-xl-4 .service_subtitle {
  padding-top: 2rem;
}
#service .row.justify-content-between .col-xl-4 .service_subtitle h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 23px;
  transition: all 0.3s linear;
}
#service .row.justify-content-between .col-xl-4 .service_subtitle h1:hover {
  color: #d16527;
}
#service .row.justify-content-between .col-xl-4 .service_text p {
  color: #e0ede0;
  font-family: "Mulish", sans-serif;
  padding-top: 0.5rem;
}
#service .row.justify-content-between .col-xl-4 .service_link {
  display: flex;
}
#service .row.justify-content-between .col-xl-4 .service_link span {
  margin-left: 10px;
}
#service .row.justify-content-between .col-xl-4 .service_link span a {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, #d16527, #d16527 50%, #e0ede0 0);
  background-position: 100%;
  background-size: 200% 100%;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
}
#service .row.justify-content-between .col-xl-4 .service_link span a:hover {
  background-position: 0;
}
#service .row.justify-content-between .col-xl-4 .service_link .link_svg {
  background-color: #d16527;
  padding: 0px 4px 4px 4px;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px);
          clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px);
}

.repairs .container .row .repairs_title h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 42px;
  padding-bottom: 3rem;
}
.repairs .container .row .col-xl-12 .repairs_img {
  position: relative;
  overflow: hidden;
}
.repairs .container .row .col-xl-12 .repairs_img::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  left: 50%;
  top: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s linear;
  z-index: 90;
}
.repairs .container .row .col-xl-12 .repairs_img::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  right: 50%;
  top: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s linear;
  z-index: 90;
}
.repairs .container .row .col-xl-12 .repairs_img:hover::after {
  width: 50%;
}
.repairs .container .row .col-xl-12 .repairs_img:hover::before {
  width: 100%;
}
.repairs .container .row .col-xl-12 .repairs_img img {
  transition: all 0.3s linear;
  background-color: #fff;
}
.repairs .container .row .col-xl-12 .repairs_img img:hover {
  transform: scale(1.2);
}

#pricing {
  padding: 5rem 2rem;
}
#pricing .row .pricing_order {
  position: relative;
  background-color: #121212;
  padding: 3.5rem 3rem 3.5rem 3rem;
}
#pricing .row .pricing_order::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #d16527;
  transition: all 0.2s;
}
#pricing .row .pricing_order::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 4px;
  background-color: #d16527;
  transition: all 0.2s;
}
#pricing .row .pricing_order:hover::after {
  width: 50%;
}
#pricing .row .pricing_order:hover::before {
  width: 50%;
}
#pricing .row .pricing_order .order_price {
  text-align: center;
}
#pricing .row .pricing_order .order_price p {
  color: #c2c2c2;
  font-weight: bold;
  font-size: 15px;
}
#pricing .row .pricing_order .order_price h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 42px;
}
#pricing .row .pricing_order .order_price span {
  color: #c2c2c2;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  padding: 2rem 2rem;
  border-bottom: 2px solid white;
}
#pricing .row .pricing_order .order_list {
  margin-top: 4rem;
}
#pricing .row .pricing_order .order_big {
  display: flex;
  justify-content: center;
}
#pricing .row .pricing_order ul {
  color: #e0ede0;
  list-style: none;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  line-height: 2.2rem;
}
#pricing .row .pricing_order ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pricing .row .pricing_order ul li:nth-child(4) {
  color: #707070;
}
#pricing .row .pricing_order ul li:nth-child(5) {
  color: #707070;
}
#pricing .row .pricing_order #ulwhite li:nth-child(4) {
  color: #e0ede0;
}
#pricing .row .pricing_order #ulwhite li:nth-child(5) {
  color: #e0ede0;
}
#pricing .row .pricing_plans .plans_title h1 {
  color: #e0ede0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
#pricing .row .pricing_plans .plans_text {
  padding-top: 1rem;
}
#pricing .row .pricing_plans .plans_text p {
  color: #e0ede0;
  font-family: "Mulish", sans-serif;
  padding-right: 7rem;
}
#pricing .row .pricing_plans ul {
  color: #e0ede0;
  list-style: none;
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  line-height: 2rem;
}
#pricing .row .pricing_plans ul li {
  padding-left: 1.5rem;
  position: relative;
}
#pricing .row .pricing_plans ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d16527;
}

#blog .container-fluid {
  background-color: #121212;
}
#blog .container-fluid .row .col-xl-6 {
  padding: 0;
}
#blog .container-fluid .row .blog_right {
  width: 70%;
  margin-left: 3rem;
}
#blog .container-fluid .row .blog_right .right_title h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 42px;
  position: relative;
  z-index: 99999999;
}
#blog .container-fluid .row .blog_right .right_title h1::after {
  content: "SERVICE";
  position: absolute;
  color: transparent;
  -webkit-text-stroke-color: #242424;
  -webkit-text-stroke-width: 2px;
  font-size: 62px;
  font-weight: bold;
  left: 0;
  top: -24px;
  transition: all 0.3s linear;
  z-index: -10;
}
#blog .container-fluid .row .blog_right .right_title h1:hover::after {
  transform: translateY(-20px);
}
#blog .container-fluid .row .blog_right .right_list ul {
  list-style: none;
  color: #e0ede0;
  font-size: 14px;
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
#blog .container-fluid .row .blog_right .right_list ul li {
  position: relative;
  padding-left: 20px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  #blog .container-fluid .row .blog_right .right_list ul li {
    width: 50%;
  }
}
#blog .container-fluid .row .blog_right .right_list ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d16527;
}
#blog .container-fluid .row .blog_left {
  padding: 0 2rem;
}
#blog .container-fluid .row .blog_left .left_title h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 42px;
  position: relative;
}
#blog .container-fluid .row .blog_left .left_title h1::after {
  content: "SERVICE";
  position: absolute;
  color: transparent;
  -webkit-text-stroke-color: #242424;
  -webkit-text-stroke-width: 2px;
  font-size: 62px;
  font-weight: bold;
  left: 0;
  top: -24px;
  transition: all 0.3s linear;
}
#blog .container-fluid .row .blog_left .left_title h1:hover::after {
  transform: translateY(-20px);
}
#blog .container-fluid .row .blog_left .left_text p {
  color: #e0ede0;
  font-size: 14px;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  padding: 1rem 0;
}
.howto {
  padding: 6rem 2rem;
}
.howto .row {
  color: #e0ede0;
}
.howto .row .howto_right {
  padding: 2rem 0;
  border-top: 2px solid #242424;
  position: relative;
}
.howto .row .howto_right::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -2px;
  left: 50%;
  transition: all 0.3s;
}
.howto .row .howto_right::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -2px;
  right: 50%;
  transition: all 0.3s;
}
.howto .row .howto_right:hover::after {
  width: 50%;
}
.howto .row .howto_right:hover::before {
  width: 50%;
}
.howto .row .howto_right .right_title {
  display: flex;
  align-items: center;
}
.howto .row .howto_right .right_title h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
.howto .row .howto_right .right_title span {
  font-size: 23px;
  font-weight: bold;
  color: #d16527;
  padding-right: 1rem;
}
.howto .row .howto_right .right_text {
  margin-top: 2rem;
  padding-right: 5rem;
}
.howto .row .howto_mid {
  padding: 2rem 0;
  border-top: 3px solid #242424;
  position: relative;
}
.howto .row .howto_mid::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -2px;
  left: 50%;
  transition: all 0.3s;
}
.howto .row .howto_mid::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -2px;
  right: 50%;
  transition: all 0.3s;
}
.howto .row .howto_mid:hover::after {
  width: 50%;
}
.howto .row .howto_mid:hover::before {
  width: 50%;
}
.howto .row .howto_mid .mid_title {
  display: flex;
  align-items: center;
}
.howto .row .howto_mid .mid_title h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
.howto .row .howto_mid .mid_title span {
  font-size: 23px;
  font-weight: bold;
  color: #d16527;
  padding-right: 1rem;
}
.howto .row .howto_mid .mid_text p {
  margin-top: 2rem;
  padding-right: 5rem;
}
.howto .row .howto_left .left_title h1 {
  font-size: 50px;
  font-weight: bold;
}
.howto .row .howto_left .left_text p {
  font-family: "Mulish", sans-serif;
  margin-top: 2rem;
  padding-right: 5rem;
}

.articles .container .row .col-xl-12 {
  position: relative;
}
.articles .container .row .col-xl-12:hover .articles_title::after {
  width: 50%;
}
.articles .container .row .col-xl-12:hover .articles_title::before {
  width: 50%;
}
.articles .container .row .col-xl-12:hover .articles_img img {
  transform: scale(1.2);
}
.articles .container .row .col-xl-12 .img_small {
  position: absolute;
  color: #e0ede0;
  padding: 2rem;
  bottom: 0;
}
.articles .container .row .col-xl-12 .img_small .small_text {
  width: 14%;
}
.articles .container .row .col-xl-12 .img_small .small_text p {
  border-top: 2px solid #d16527;
  font-weight: bold;
  padding-top: 0.5rem;
  transition: all 0.3s;
}
.articles .container .row .col-xl-12 .img_small .small_text p:hover {
  cursor: pointer;
  color: #d16527;
}
.articles .container .row .col-xl-12 .img_small .small_title h4 {
  font-weight: bold;
  transition: all 0.3s;
}
.articles .container .row .col-xl-12 .img_small .small_title h4:hover {
  cursor: pointer;
  color: #d16527;
}
.articles .container .row .articles_title {
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #242424;
  position: relative;
}
.articles .container .row .articles_title::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 2px;
  bottom: -2px;
  right: 50%;
  transition: all 0.3s;
}
.articles .container .row .articles_title::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  transition: all 0.3s;
}
.articles .container .row .articles_title h1 {
  color: #e0ede0;
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}
.articles .container .row .articles_img {
  margin-top: 2.5rem;
  overflow: hidden;
}
.articles .container .row .articles_img img {
  transition: all 0.3s;
}
.articles .container .row {
  margin-top: 2rem;
}
.articles .container .row .col-xl-4:hover .articles_guide::after {
  width: 50%;
}
.articles .container .row .col-xl-4:hover .articles_guide::before {
  width: 50%;
}
.articles .container .row .col-xl-4 .articles_guide {
  padding-top: 2rem;
  border-top: 3px solid #242424;
  color: #e0ede0;
  position: relative;
}
.articles .container .row .col-xl-4 .articles_guide::after {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transition: all 0.3s;
}
.articles .container .row .col-xl-4 .articles_guide::before {
  content: "";
  position: absolute;
  background-color: #d16527;
  width: 0;
  height: 3px;
  top: -3px;
  right: 50%;
  transition: all 0.3s;
}
.articles .container .row .col-xl-4 .articles_guide .guide_img {
  position: relative;
}
.articles .container .row .col-xl-4 .articles_guide .guide_img .small_img {
  position: absolute;
  padding: 1rem 2rem;
  bottom: 5px;
}
.articles .container .row .col-xl-4 .articles_guide .guide_img .small_img .small_text p {
  font-weight: bold;
  border-top: 2px solid #d16527;
  padding-top: 0.5rem;
}
.articles .container .row .col-xl-4 .articles_guide .guide_title {
  margin-top: 1rem;
}
.articles .container .row .col-xl-4 .articles_guide .guide_title h3 {
  font-size: 23px;
  font-weight: bold;
  padding-right: 0.5rem;
  transition: all 0.3s;
}
.articles .container .row .col-xl-4 .articles_guide .guide_title h3:hover {
  cursor: pointer;
  color: #d16527;
}
.articles .container .row .col-xl-4 .articles_guide .guide_date p {
  font-size: 14px;
  margin: 1rem 0;
}
.articles .container .row .col-xl-4 .articles_guide .guide_link {
  font-weight: bold;
}
.articles .container .row .col-xl-4 .articles_guide .guide_link span a {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, #d16527, #d16527 50%, #e0ede0 0);
  background-position: 100%;
  background-size: 200% 100%;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
}
.articles .container .row .col-xl-4 .articles_guide .guide_link span a:hover {
  background-position: 0;
  cursor: pointer;
}
.articles .container .row .col-xl-4 .articles_guide .link_svg {
  background-color: #d16527;
  padding: 0px 4px 4px 4px;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px);
          clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px);
  margin-right: 1rem;
}

.request {
  margin: 6rem 0;
}
.request .container {
  color: #e0ede0;
}
.request .container .row .col-xl-12 .request_text {
  margin: 2rem 0 5rem 0;
}
.request .container .row .col-xl-12 .request_text p {
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 100;
}
.request .container .row .request_title h1 {
  font-size: 42px;
  font-weight: bold;
}
.request .container .row .col-xl-6 .request_date {
  margin-top: 2rem;
}
.request .container .row .col-xl-6 .request_time {
  margin-top: 2rem;
}
.request .container .row .col-xl-6 p {
  font-weight: bold;
}
.request .container .row .col-xl-6 input {
  width: 100%;
  height: 39px;
  color: #343434;
  font-weight: bold;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 14px;
  background-color: initial;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.request .container .row .col-xl-6 input::-moz-placeholder {
  color: #343434;
}
.request .container .row .col-xl-6 input::placeholder {
  color: #343434;
}
.request .container .row .col-xl-6 input:focus {
  border-color: #d16527;
}
.request .container .row .col-xl-12 .request_message {
  margin-top: 2rem;
}
.request .container .row .col-xl-12 p {
  font-weight: bold;
}
.request .container .row .col-xl-12 input {
  width: 100%;
  height: 39px;
  color: #343434;
  font-weight: bold;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 14px;
  background-color: initial;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.request .container .row .col-xl-12 input::-moz-placeholder {
  color: #343434;
}
.request .container .row .col-xl-12 input::placeholder {
  color: #343434;
}
.request .container .row .col-xl-12 input:focus {
  border-color: #d16527;
}

footer .container-fluid {
  background-color: rgb(18, 18, 18);
}
footer .container-fluid .container {
  padding: 5rem;
}
footer .container-fluid .container .row {
  color: #e0ede0;
}
footer .container-fluid .container .col-xl-2 .footer_about {
  margin-left: 1rem;
}
footer .container-fluid .container .col-xl-2 .other_title h6 {
  font-weight: bold;
}
footer .container-fluid .container .col-xl-2 .services_title h6 {
  font-weight: bold;
}
footer .container-fluid .container .col-xl-2 .about_title h6 {
  font-weight: bold;
}
footer .container-fluid .container #footerlist {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}
footer .container-fluid .container #footerlist li {
  position: relative;
  padding-left: 1rem;
  font-size: 14px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  overflow: hidden;
}
footer .container-fluid .container #footerlist li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: -4px;
  border: 2px dashed #d16527;
  transition: all 0.3s linear;
}
footer .container-fluid .container #footerlist li:hover::before {
  width: 100%;
  right: 0;
}
footer .container-fluid .container #footerlist li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d16527;
}
footer .container-fluid .container .col-xl-3 .footer_text {
  margin-top: 1rem;
}
footer .container-fluid .container .col-xl-3 .footer_text p {
  font-family: "Mulish", sans-serif;
}
footer .container-fluid .container .col-xl-3 .footer_contact p {
  font-family: "Mulish", sans-serif;
}
footer .container-fluid .container .col-xl-3 .footer_contact a {
  text-decoration: none;
  color: #e0ede0;
  font-size: 23px;
  font-weight: bold;
}
footer .container-fluid .container .col-xl-3 .subscribe_title h6 {
  font-weight: bold;
}
footer .container-fluid .container .col-xl-3 .subscribe_email {
  margin-top: 2rem;
}
footer .container-fluid .container .col-xl-3 .subscribe_email p {
  font-weight: bold;
  margin: 0;
}
footer .container-fluid .container .col-xl-3 .subscribe_email input {
  width: 100%;
  height: 39px;
  color: #e0ede0;
  font-weight: bold;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 14px;
  background-color: initial;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
footer .container-fluid .container .col-xl-3 .subscribe_email input::-moz-placeholder {
  color: #343434;
}
footer .container-fluid .container .col-xl-3 .subscribe_email input::placeholder {
  color: #343434;
}
footer .container-fluid .container .col-xl-3 .subscribe_email input:focus {
  border-color: #d16527;
}
footer .container-fluid .container .col-xl-3 #service_btn.subscribe_btn {
  margin-top: 1.5rem;
}/*# sourceMappingURL=style.css.map */